
@{
    var ad = HttpContext.Current.Session["name"].ToString();
    ViewBag.Title = "Index";
    Layout = "~/Views/layout/layout.cshtml";
}
<p>wellcom to page @ad</p>
<div>
    <a href="~/admin/Admin/Listad">list truyen</a>
</div>
<div>
    <div>
        <a href="~/admin/Admin/Them">them truyen</a>
    </div>
    <div>
        <a href="~/admin/Admin/Listloaitruyen">list loai truyen</a>
    </div>
    <div>
        <a href="~/admin/Admin/Themloaitruyen">them loai truyen</a>
    </div>

    <a href="~/admin/Admin/Dangxuat">logout</a>
</div>


