
@{
    ViewBag.Title = "Thêm loại xe mới";
    Layout = "~/Areas/admin/Views/layout/layout.cshtml";
}
@section css{
    <link rel="stylesheet" href="~/accect/css/them.css" />
}
<div class="create">
    <form action="/admin/Quanlyloai/Them"class="create__item" method="post">
        <input type="text" name="ten" placeholder="nhap ten">
        <button type="submit">Thêm</button>
        <p style="color:darkred">@ViewBag.err</p>
    </form>
</div>

