
@model IEnumerable<shopxe_2.Models.hang>
@{
    shopxe_2.Models.Database db = new shopxe_2.Models.Database();
    ViewBag.Title = "Danh sách hãng xe";
    Layout = "~/Areas/admin/Views/layout/layout.cshtml";
}
@section css{
    <link rel="stylesheet" href="~/accect/css/listad.css" />
}
<div class="list">
    <div class="list__item">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div><div class="list__item">
        <p>id</p>
        <p>ten</p>
        <p></p>
        <p></p>
    </div>
    @foreach (var i in db.hangs)
    {
        <div class="list__item">
            <p>@i.id</p>
            <p>@i.ten</p>
            <a href="~/admin/Quanlyhang/Capnhat?id=@i.id">Sửa</a>
            <a href="#" onclick="deleteid(@i.id)">Xóa</a>
        </div>
    }
</div>
<script>
    var deleteid = (id) => {
        if (confirm("Xóa là mất đó nha") == true) { location.href = "/admin/Quanlyhang/Xoa?id=" + id }
    }
</script>
