
@model IEnumerable<shopxe_2.Models.hang>
@{
    shopxe_2.Models.Database db = new shopxe_2.Models.Database();
    ViewBag.Title = "danh sach hang xe";
    Layout = "~/Areas/admin/Views/layout/layout.cshtml";
}
@section css{
    <link rel="stylesheet" href="~/accect/css/listad.css" />
}
<div class="list">
    <div class="list__item">
        <form action="/admin/Quanlyhang/Index">
            <input type="text" placeholder="nhap ten" name="name" />
            <button type="submit">tim kiem</button>
        </form>
    </div>
    <div class="list__item">
        <p>id</p>
        <p>ten</p>
        <p></p>
        <p></p>
    </div>
    @foreach (var i in db.hangs)
    {
        <div class="list__item">
            <p>@i.id</p>
            <p>@i.ten</p>
            <a href="~/admin/Quanlyhang/Capnhat?id=@i.id">sua</a>
            <a href="#" onclick="deleteid(@i.id)">xoa</a>
        </div>
    }
</div>
<script>
    var deleteid = (id) => {
        if (confirm("you sur") == true) { location.href = "/admin/Quanlyhang/Xoa?id=" + id }
    }
</script>
