
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="~/Truyen/Them">them truyen</a>
    </div>
    <div>
        <a href="~/Truyen/List">list truyen</a>
    </div>
    <div>
        <a href="~/Truyen/Listloaitruyen">list loai truyen</a>
    </div>
    <div>
        <a href="~/Truyen/Themloaitruyen">them loai truyen</a>
    </div>
    <div>
        <a href="~/Truyen/Listad">list truyen admin</a>
    </div>
</body>
</html>
