@model IEnumerable<shoptextno1.Models.pr_timkiemten_Result>
@{
    ViewBag.Title = "Listtimkiem";
    Layout = "~/Views/layout/layout.cshtml";
}

<div class="card">
    @foreach (var i in Model)
    {
        <div class="card__item">
            <div class="img">
                <img src="@i.img" alt="">
            </div>
            <div class="name">
                <p>@i.ten</p>
                <a href="">chi tiet san pham >>>></a>
            </div>
            <div class="price">
                <p>price: @i.gia</p>
            </div>
            <div class="vote">
                <span>
                    10/10
                    &#9733;
                </span>
            </div>
        </div>
    }
</div>
