
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<p>@ViewBag.err</p>
<h1>text mail tu dong</h1>
<form action="/Text/index" method="post">
    <input type="text" name="tomail" placeholder="nhapmail"/>
    <button type="submit">send</button>
</form>