
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/accect/css/cssreset.css">
    <link rel="stylesheet" href="~/accect//css/dangnhap.css">
    <title>Document</title>
</head>
<body>
    <form method="post">
        
        <div class="accout">
            <div class="accout__item">
                <p>Nhap thong tin de mua hang</p>
                <p>Neu ban da tung mua hang thi chi can nhap email</p>
                <p>Con neu ban da mua hang va muon thay doi thong tin thi phai nhap lai ca ten va sodt</p>
            </div>
            <div class="accout__item">
                <input type="text" placeholder="email" name="email">
            </div>
            <div class="accout__item">
                <input type="number" placeholder="sodt" name="sodt">
            </div>
            <div class="accout__item">
                <input type="text" placeholder="Ten" name="ten">
            </div>
            <div class="accout__item">
                <button type="submit">okay</button>
            </div>
            <p class="err">@ViewBag.err</p>
        </div>
    </form>
</body>
</html>